<div>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <% @email.each do |e| %>
          <tr>
            <td class="action">
              <%= link_to add_important_path(e.mail_id) do %>
                <i class="fa fa-bookmark" style="color: <%= 'yellow' if e.important_status %>"></i>
              <% end %>
              <%= link_to add_starred_path(e.mail_id) do %>
                <i class="fa fa-star ml-2" style="color: <%= 'yellow' if e.starred_status %>"></i>
              <% end %>
              <%= link_to add_trash_path(e.mail_id) do %>
                <i class="fa fa-trash ml-2" style="color: <%= 'yellow' if e.trash_status %>"></i>
              <% end %>
            </td>
            <td class="name"><a href="#"><%= e.email.name %></a></td>
            <td class="subject"><a href="#"><%= e.email.title %></a></td>
            <td class="time"><%= e.email.created_at.strftime("%H:%M") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
